html,
body {
    background-color: black;
    margin: 0;
    touch-action: none;
    user-select: none;
    -webkit-user-select: none;
}

canvas {
    display: block;
    width: 100dvw;
    height: 100dvh;
}

#overlay {
    font-size: 1.2rem;
    font-family: monospace;
    margin: 0.25rem 0 0 0.25rem;
    position: absolute;
    color: Lavender;
    font-weight: 600;
    text-shadow: 1px 1px MidnightBlue;
    white-space: pre;
}

#sliders {
    background-color: rgba(0,0,0,0.2);
    position: absolute;
    top: 0;
    right: 0;
    width: 20rem;
    height: 5.5rem;
}